body,html{
    font-size: 100px;   
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
/* 横屏提示 */
.hide_box {
    display: none;
}
.exceed_hide{
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4)
}
.exceed_hide .tips_center{
    display: flex;
    flex-direction: column;
}
.tips_center p{
    align-self: center;
    width: 0.54rem;
    height: 0.72rem;
    border: 2px solid white;
}
.tips_center span{
    font-weight: bold;
    font-size: 0.28rem;
}



@-webkit-keyframes fadeUp {
    from {
      opacity: 0.8;
    }
  
    to {
        -webkit-transform: translate3d(0, -14%, 0);
        transform: translate3d(0, -14%, 0);
        opacity: 0;
    }
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0.8;
    }
  
    to {
        -webkit-transform: translate3d(0, -14%, 0);
        transform: translate3d(0, -14%, 0);
        opacity: 0;
    }
  }
  .fadeUp {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
  }


/* 音乐 */
.music{
    padding: 0.5rem;
    position: absolute;
    background: url(../images/musicBtn.png)  no-repeat center;
    right: 0;
    top: 0;
    z-index: 10;
}
.music.active {
    background: url(../images/musicBtnOff.png) center;
}

.index{
    position: relative;
}
h1{
    position: absolute;
    left: 0.15rem;
    top: 0.15rem;
    z-index: 10;
    margin: 0;
}
/* 最外层 */
.outside {
    height: 100%;
    width: 100%;
}
.swiper-slide.common {
    width: 100%;
    height: 100%;
}

/* 第一页 */
.outside .index{
    background: url(../images/indexSnacky.jpg) no-repeat center;
    position: relative;
}
/* 中间文字 */
.index .text {
    position: relative;
    margin: 0 auto;
    top: 50%;
    width: 3.58rem;
    height: 1.39rem;
    margin-top: -1.4rem;
}
.index .text .text_com {
    position: absolute;
    left: 0;
    top: 0;
}
/* 闪烁箭头 */
.up_arrow {
    width: 100%;
    padding-bottom: 10%;
    position: absolute;
    bottom: 0.1rem;
    margin: 0 auto;
    z-index: 11;
    opacity: 0;
}
.up_arrow>img{
    width: 0.38rem;
    margin: 0 auto;
}

  /* 滑动图片 */
  @keyframes slideLeft{
    from {
        -webkit-transform: translate(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
  
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
  }
.index .slide_img{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1.82rem;
      overflow: hidden;
      background: url(../images/indexHouse.jpg)  no-repeat;
      animation:slideLeft 20s infinite linear;
  }
.index .slide_img.s2 {
    right: 100%;
}

.slide2, .slide3, .slide4, .slide5, .slide6 {
    position: relative;
}
.slide2 .up_arrow,.slide3 .up_arrow,.slide4 .up_arrow,.slide5 .up_arrow,.slide6 .up_arrow {
    padding-bottom: 0;
}

/* 第二页 */
.outside .slide2 {
    background-color: #FD6579;
}
/* boy */
.slide2 .boy{
    position: absolute;
    right: 0;
    top: 0;
}
/* 闪烁图案 */
.slide2 .light_right,.slide2 .star_right{
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
}

/* 上部文字 */
.slide2 .bounLeft{
    position: absolute;
    left: 0.25em;
    top: 0.25em;;
    z-index: 9;
}
/* 图片拼装 */
.bounLeft>img, .bounRight>img{
    position: absolute;
}

/* 下部文字 */
.slide2 .bounRight{
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    z-index: 9;
    width: 1.14rem;
    height: 3.37rem;
}


/* 第三页 */
.outside .slide3 {
    background-color: #0DBDE2;
}
/* girl */
.slide3 .girl{
    position: absolute;
    left: 0;
    top: 0;
}
/* 闪烁图案 */
.slide3 .light_right,.slide3 .star_right{
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
}
/* 上部文字 */
.slide3 .bounLeft{
    position: absolute;
    left: 0.25em;
    top: 0.25em;;
    z-index: 9;
}
/* 下部文字 */
.slide3 .bounRight{
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    z-index: 9;
    width: 1.19rem;
    height: 2.32rem;
}

/* 第四页 */
.slide4{
    background-color: #34A05D;
}
/* 统一设定*/
.slide4 .dogfix,.slide4 .slide4_rightLight, .slide4 .slide4_sel_left, .slide4 .slide4_btnLight{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.slide4 .slide4_leftLight ,.slide4 .slide4_sel_right, .slide4 .slide4_btnRight{
    position: absolute;
    right: 0;
    top: 0;
}
/* 灯光 */
.slide4 .slide4_rightLight, .slide4 .slide4_leftLight{
    z-index: 9;
}
/* 选我 */
.slide4 .slide4_sel_left, .slide4 .slide4_sel_right{
    z-index: 7;
}
/* 最下方 */
.slide4 .slide4_down{
    display: block;
    text-align: center;
    position: relative;
    background: url(../images/FixArrowTxt.png) 50% 50% no-repeat;
    height: 0.61rem;
    top: 1.24rem;
}
.slide4_down>img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.83rem;
}

/* 第五页 */
.slide5{
    background-color: #679CFD;
}
/* 上 */
.slide5 .slide5_summer{
    margin: 0 auto;
    margin-top: 14%;
}
/* 下 */
.slide5 .slidesTitle{
    position: absolute;
    top: 50%;
}
.slide5 .slidesTitle>img{
    position: absolute;
}

/* 第六页 */
.slide6 .end_txtTop{
    font-size: 0.5rem;
    color: #669cff;
    font-weight: bold;
    text-align: center;
    margin: 20% auto;
}
/* 搜索框 */
.slide6 .search_box{
    position: relative;
    border: solid 1px #959ba0;
    overflow: hidden;
    margin: 0 15%;
    padding: 0.05rem;
}
/* 遮罩层 */
.slide6 .hide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
/* 看似点击 */
@keyframes click{
    from {
        opacity: 1;
      }
      to {
         opacity: 0.6;
      }
}
.search_box .zoom{
    z-index: 5;
    animation: click  0.2s  linear 1.8s;
    position: absolute;
    right: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background:#669cff url(../images/iconsZoom.png) no-repeat center;
}

/* 猛戳 */
.slide6 .tip{
    position: absolute;
    bottom: 12%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tip>img{
    margin: 0 auto;
}
.tip .btn {
    /* 让父级宽度由自己撑开 */
    float: left;
    align-self: center;
    display: flex;
    justify-content: flex-start;
}
.tip .btn>a{
    margin: 0.15rem;
}